<launch>

    <arg name="user"            default="$(env USER)"/>
    <arg name="image_raw"          default="false"/>
    <arg name="filters"         default="colorizer"/>        <!-- The options, separated by commas: colorizer, pointcloud -->
    <arg name="align_depth"     default="true"/>    <!-- If set to true, will publish additional topics with all the images aligned to the depth image. -->

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters"         value="$(arg filters)"/>
        <arg name="align_depth"     value="$(arg align_depth)"/>
    </include>

    <group if="$(eval image_raw)">
        <node pkg="rosbag"  type="record"   name="record_rs_camera"  output="screen"    
            args="/camera/aligned_depth_to_color/image_raw
                /camera/color/image_raw
                /camera/depth/image_rect_raw 
                -o /home/$(arg user)/Main_WS/bagdata/rs">
        </node>
    </group>

    <group unless="$(eval image_raw)">
        <node pkg="rosbag"  type="record"   name="record_rs_camera"  output="screen"    
                args="/camera/aligned_depth_to_color/image_raw/compressed
                    /camera/color/image_raw/compressed
                    /camera/depth/image_rect_raw/compressed 
                    -o /home/$(arg user)/Main_WS/bagdata/rs">
        </node>
    </group>

    

</launch>