<launch>
    <arg name="filters"         default="colorizer"/>        <!-- The options, separated by commas: colorizer, pointcloud -->
    <arg name="align_depth"     default="true"/>    <!-- If set to true, will publish additional topics with all the images aligned to the depth image. -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters"         value="$(arg filters)"/>
        <arg name="align_depth"     value="$(arg align_depth)"/>
        <arg name="color_width"     value="640"/>  <!--1280*720-->
        <arg name="color_height"     value="480"/>
        <arg name="color_fps"     value="30"/>
    </include>

    <node pkg="rqt_image_view" type="rqt_image_view" name="image_view"/>
</launch>