<launch>

    <arg name="user"       default="$(env USER)"/>
    <arg name="record"  default="false"/>

    <include file="$(find base_control)/launch/base_control.launch"></include>

    <node pkg="uvc_camera"  type="uvc_camera_node"   name="uvc_camera"  output="screen">
        <param name="device"    value="/dev/video0"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_base_link" args="0.2 0.0 0.4 0 0 0 /base_link /camera_link"/>

    <group if="$(eval record)">
        <node pkg="rosbag"  type="record"   name="record_cam"  output="screen"    args="/image_raw/compressed -o /home/$(arg user)/Main_WS/bagdata/cam">
        </node>
    </group>

</launch>