<launch>

    <arg name="user"       default="$(env USER)"/>
    <arg name="filters"         default=""/>        <!-- The options, separated by commas: colorizer, pointcloud -->
    <arg name="align_depth"     default="true"/>    <!-- If set to true, will publish additional topics with all the images aligned to the depth image. -->
    <arg name="record"          default="false"/>

    <include file="$(find base_control)/launch/base_control.launch"></include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters"         value="$(arg filters)"/>
        <arg name="align_depth"     value="$(arg align_depth)"/>
    </include>

    <group if="$(eval record)">
            <node pkg="rosbag"  type="record"   name="record_d435"  output="screen"    args="/camera/color/image_raw/compressed /camera/depth/image_rect_raw/compressed -o /home/$(arg user)/Main_WS/bagdata/rs">
            </node>
    </group>

</launch>